<header class="header">
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-brand">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}" class="kalit-logo"></a>
        <span class="nav-brand__name-area">
          <div class="metis-logo"></div>
        </span>
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-nav" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="#">Home</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">Projects</a>
            <div class="navbar-dropdown">
              <div class="mega-menu-container" id="customer-container">
                <div class="mega-menu-title">Customers</div>
                {{#each site.components}}
                  {{#if (typeOfComponent ./latest.version "customer")}}
                    <a class="navbar-item doc-type-customers" href="{{{relativize ./url}}}">{{{./title}}}</a>
                  {{/if}}
                {{/each}}
              </div>
              <div class="mega-menu-container" id="internal-container">
                <div class="mega-menu-title">Internal</div>
                {{#each site.components}}
                  {{#if (typeOfComponent ./latest.version "internal")}}
                    <a class="navbar-item doc-type-internal" href="{{{relativize ./url}}}">{{{./title}}}</a>
                  {{/if}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
